
/* Background */ .chroma { background-color: var(--pagecolour) }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: var(--faded); background-color: var(--pagecolour) }

/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: var(--pagecolour) }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: var(--faded) }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: var(--faded) }

/* Keyword */ .chroma .k { color: var(--lowlight); font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: var(--lowlight); font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: var(--lowlight); font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: var(--lowlight); font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: var(--lowlight); font-weight: bold }
/* KeywordReserved */ .chroma .kr { color: var(--lowlight); font-weight: bold }
/* KeywordType */ .chroma .kt { color: var(--lowlight); font-weight: bold }


/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: var(--lowlight); }
/* NameBuiltin */ .chroma .nb { color: var(--lowlight); }
/* NameBuiltinPseudo */ .chroma .bp { color: var(--lowlight); }
/* NameClass */ .chroma .nc { color: var(--lowlight); font-weight: bold }
/* NameConstant */ .chroma .no { color: var(--lowlight); }
/* NameDecorator */ .chroma .nd { color: var(--lowlight); font-weight: bold }
/* NameEntity */ .chroma .ni { color: var(--lowlight); }
/* NameException */ .chroma .ne { color: var(--lowlight); font-weight: bold }
/* NameFunction */ .chroma .nf { color: var(--lowlight); font-weight: bold }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl { color: var(--lowlight); font-weight: bold }
/* NameNamespace */ .chroma .nn { color: var(--lowlight); }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: var(--lowlight);}
/* NameVariable */ .chroma .nv { color: var(--lowlight); }
/* NameVariableClass */ .chroma .vc { color: var(--lowlight); }
/* NameVariableGlobal */ .chroma .vg { color: var(--lowlight); }
/* NameVariableInstance */ .chroma .vi { color: var(--lowlight); }
/* NameVariableMagic */ .chroma .vm {  }


/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: var(--faded); }
/* LiteralStringAffix */ .chroma .sa { color: var(--faded); }
/* LiteralStringBacktick */ .chroma .sb { color: var(--faded); }
/* LiteralStringChar */ .chroma .sc { color: var(--faded); }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--faded); }
/* LiteralStringDoc */ .chroma .sd { color: var(--faded); }
/* LiteralStringDouble */ .chroma .s2 { color: var(--faded); }
/* LiteralStringEscape */ .chroma .se { color: var(--faded);}
/* LiteralStringHeredoc */ .chroma .sh { color: var(--faded); }
/* LiteralStringInterpol */ .chroma .si { color: var(--faded); }
/* LiteralStringOther */ .chroma .sx { color: var(--faded); }
/* LiteralStringRegex */ .chroma .sr { color: var(--faded); }
/* LiteralStringSingle */ .chroma .s1 { color: var(--faded); }
/* LiteralStringSymbol */ .chroma .ss { color: var(--faded); }
/* LiteralNumber */ .chroma .m { color: var(--faded); }
/* LiteralNumberBin */ .chroma .mb { color: var(--faded); }
/* LiteralNumberFloat */ .chroma .mf { color: var(--faded); }
/* LiteralNumberHex */ .chroma .mh { color: var(--faded); }
/* LiteralNumberInteger */ .chroma .mi { color: var(--faded); }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--faded); }
/* LiteralNumberOct */ .chroma .mo { color: var(--faded); }

/* Operator */ .chroma .o { color: var(--lowlight); font-weight: bold }
/* OperatorWord */ .chroma .ow { color: var(--lowlight); font-weight: bold }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: var(--faded); font-style: italic }
/* CommentHashbang */ .chroma .ch { color: var(--faded); font-style: italic }
/* CommentMultiline */ .chroma .cm { color: var(--faded); font-style: italic }
/* CommentSingle */ .chroma .c1 { color: var(--faded); font-style: italic }
/* CommentSpecial */ .chroma .cs { color: var(--faded); font-weight: bold; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: var(--faded); font-weight: bold; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: var(--faded); font-weight: bold; font-style: italic }


/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: var(--lowlight); background-color: var(--pagecolour) }
/* GenericEmph */ .chroma .ge { color: var(--lowlight); font-style: italic }
/* GenericError */ .chroma .gr { color: var(--lowlight); }
/* GenericHeading */ .chroma .gh { color: var(--lowlight); }
/* GenericInserted */ .chroma .gi { color: var(--lowlight); background-color: var(--pagecolour) }
/* GenericOutput */ .chroma .go { color: var(--lowlight); }
/* GenericPrompt */ .chroma .gp { color: var(--lowlight); }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: var(--lowlight); }
/* GenericTraceback */ .chroma .gt { color: var(--lowlight); }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }

/* TextWhitespace */ .chroma .w { color: var(--maintext); }
